  <td class="text-center">{{ prix.quantite }}</td>
  <td class="text-center">...</td>
  <td class="text-center">{{ prix.prix }} €</td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <button id="btnPrixMultipleEdit_{{ prix.id }}" type="button" name="button" class="btn btn-default">
        <span class="fa fa-edit"></span>
      </button>
      <button id="btnPrixMultipleDel_{{ prix.id }}" type="button" name="button" class="btn btn-danger">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
  </td>
