<!-- Modal SUPRESSION -->
<div id="loader" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{ asset('bundles/progest/imgs/loading_cart.gif')}}" />
      </div>
    </div>
  </div>
</div>
